/*geral*/

    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }
    hr{
      margin:5%;
    }
    a {
      display: block;
      text-align: center;
      text-decoration: none;
      color: #fff;
    }
    a:hover {
      color: #ffffffb4;
      transition: 800ms;
      
    }
    h1 {
      text-align: center;
      color: #fff;
    }
    h2 {
      text-align: center;
      color: #fff;
    }
    h4 {
      color: #fff;
      font-size: 20px;
    }
    p {
      color: #fff;
    }
    ul {
      list-style: none;
      display: flex;
      padding: 0;
    }
    
    body {
      background-color: rgb(23, 3, 71);
      font-family: Montserrat, sans-serif;
    }

/*NavBar*/
    .navigation {
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: white;
      height: 10%; 
      animation-name: navegacao;
      animation-duration: 4s;
      
    }

    .navigation a {
      font-size: large;
      font-weight: 400;
      color: white;
      text-decoration: none;
    }

    .navigation a:hover {
      color: rgb(178, 162, 238)
    }

    .navigation ul {
      
      box-shadow: 0px -5px 5px rgb(0, 0, 0, 0.747);
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: rgb(0, 0, 0, 0.747);
      list-style: none;
      margin-top: 0;
      height: 100%;
      text-align: right;
     
      
    }

    .navigation li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 100;
    font-size: 18px;
    }
    

    .navigation li.threeline-icon {
      display: none;
    }
    
    
      
/*content*/
    .container{
      z-index: 2;
      height: 90%;
      display: flex;
      flex-direction: row;
      background-color: rgb(0, 0, 0, 0.747);
      width: 100%;
      justify-content: center;
      align-items: center;
      
    }
    .container-height-auto{
      height:auto;
      margin: 0;
      padding: 5%;
      background-color: rgb(0, 0, 0, 0.747);
      width: 90%;
    }

    /*Sobre mim*/
    .about-me{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 70%;
      height: 80%;
      
    }
    
    .profile-title{
      margin: 2%;
      width: 100%;
    }
    .profile-pic {
      margin: 2%;
      text-align: center;
      width: 35%;
      
    }

    .profile-pic img {
      border-style: solid;
      border-width: 2px;
      border-radius: 50%;
      
      width: 100%;
    }


    .profile-title h1 {
      font-size: 48px;
      font-weight: 600;
      text-transform: uppercase;
      color: #fff;
    }
    .description {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: start;
      padding: 0;
      width: 100%;
    }
    .descitem{
      display: flex;
    }
    .listvert {
      display: flex;
      flex-direction: column;
      align-items: start;
      height: 100%;
      margin-top: 0;
      margin-bottom: 0;
      padding: 0 5px 0 5px;
    }
    .listvert-item {
      font-size: x-large;
      text-align: center;
      color: rgb(178, 162, 238);
    }

/*Curriculo*/
    .personaldata, .bio, .qualification, .habilities, .experience, .contact{
      padding: 0 5% 0 5%;
    }
    
    .container-height-auto div h2 {
      color: rgb(178, 162, 238);
    }
    .container-height-auto div h3 {
      color: rgb(178, 162, 238);
    }


/*Projetos*/

.container-project{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.project{
  display: flex;
  flex-direction: column;
  padding-top: 0;
  height: 350px;
  width: 20%;
  overflow: hidden; 

}
.projectimg{
  width: 100%; /* Garante que a largura seja 100% do container */
  height: 180px;
  overflow: hidden; 
}

.projectimg img {
  width: 100%; /* Garante que a largura seja 100% do container */
  height: 100%; /* Garante que a altura seja 100% do container */
  object-fit: cover; /* Redimensiona a imagem para preencher o container mantendo a proporção e cortando o excesso */
  display: block;
  
}

@media (max-width: 1000px) {
  .navigation{
    justify-content: end;
  }
  .navigation li {
      display: none;
  }

  .navigation li.threeline-icon {
      display: inline-block;
  }
}
@media (max-width: 700px) {
  .container-project{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .project{
    display: flex;
    flex-direction: column;
    padding-top: 0;
    height: 300px;
    width: 60%;
    overflow: hidden; 
    margin-top: 10%;
  
  }
}
@keyframes navegacao {
  0% {opacity: 0;}
  50% {opacity: 0.8;}
  100% {opacity: 1;}
}


.menuJs {
  display: flex;
  flex-direction: row;
  justify-content: end;
  color: white;
  animation-name: navegacao;
  animation-duration: 4s;
 
}

.menuJs ul {
  box-shadow: 0px -5px 5px rgb(0, 0, 0, 0.747);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.747);
  list-style: none;
  width: auto;
  position: absolute;
  

}

.menuJs li {
  display: inline-block;
  padding:15px 35px;
  font-weight: 100;
  font-size: 18px;
}