/*geral*/

    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }
    hr{
      margin:5%;
    }
    a {
      display: block;
      text-align: center;
      text-decoration: none;
      color: #fff;
    }
    a:hover {
      color: #ffffffb4;
      transition: 800ms;
      
    }
    h1 {
      text-align: center;
      color: #fff;
    }
    h2 {
      text-align: center;
      color: #fff;
    }
    h4 {
      color: #fff;
      font-size: 20px;
    }
    p {
      color: #fff;
    }
    ul {
      list-style: none;
      display: flex;
      padding: 0;
    }
    
    body {
      background-color: rgb(23, 3, 71);
      font-family: Montserrat, sans-serif;
    }

/*NavBar*/
    .navigation {
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: white;
      height: 10%; 
      animation-name: navegacao;
      animation-duration: 4s;
    }

    .navigation a {
      font-size: large;
      font-weight: 400;
      color: white;
      text-decoration: none;
    }

    .navigation a:hover {
      color: rgb(178, 162, 238)
    }

    .navigation ul {
      background-color: rgb(0, 0, 0, 0.747);
      list-style: none;
      margin-top: 0;
      height: 100%;
      text-align: right;
    }

    .navigation li {
    display: inline-block;
    line-height: 56px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 100;
    font-size: 18px;
    }

    .navigation li.threeline-icon {
      display: none;
    }
    
    .menuJs {
        height: auto;
    }

    .menuJs ul {
        height: auto;
        text-align: center;
        padding-left: 15%;
        padding-right: 15%;
    }

    .menuJs li {
        display: block;
        border-bottom: solid grey 1px;
        width: 100%;
        padding: 0;
    }
      
/*content*/
    .container{
      height: 90%;
      display: flex;
      flex-direction: row;
      background-color: rgb(0, 0, 0, 0.747);
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .container-height-auto{
      height:auto;
      margin: 0;
      padding: 5%;
      background-color: rgb(0, 0, 0, 0.747);
      width: 90%;
    }

    /*Sobre mim*/
    .about-me{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 70%;
      height: 80%;
      
    }
    
    .profile-title{
      margin: 2%;
      width: 100%;
    }
    .profile-pic {
      margin: 2%;
      text-align: center;
      width: 35%;
      
    }

    .profile-pic img {
      border-style: solid;
      border-width: 2px;
      border-radius: 50%;
      margin-top: 25%;
      width: 100%;
    }


    .profile-title h1 {
      font-size: 48px;
      font-weight: 600;
      text-transform: uppercase;
      color: #fff;
    }
    .description {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: start;
      padding: 0;
      width: 100%;
    }
    .descitem{
      display: flex;
    }
    .listvert {
      display: flex;
      flex-direction: column;
      align-items: start;
      height: 100%;
      margin-top: 0;
      margin-bottom: 0;
      padding: 0 5px 0 5px;
    }
    .listvert-item {
      font-size: x-large;
      text-align: center;
      color: rgb(178, 162, 238);
    }

/*Curriculo*/
    .personaldata, .bio, .qualification, .habilities, .experience, .contact{
      padding: 0 5% 0 5%;
    }
    
    